
<th>
<ul class=" todo {{ (todo.completed ? 'done' : '') }}">Todo: {{ todo.content}}</ul>
<ul scope="col">Start Date: {{todo.startDate | date:'yyyy-MM-dd'}}</ul>
<ul scope="col">Estimate Date:{{todo.estimateDate| date:'yyyy-MM-dd'}}</ul>
<ul scope="col">Relate Person:{{todo.relatePerson}}</ul>
</th>
<!-- <th scope="col">
    <button style="margin:0 0 0 16px" *ngIf="show; else elseBlock" nbButton status="primary" (click)="show = !show">Update</button>
    <ng-template  #elseBlock><app-todo-item-updatetion ></app-todo-item-updatetion></ng-template>
    
</th>

<ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
        <nb-card-header>Templat</nb-card-header>
        <nb-card-footer>
            <button style="margin:0 0 0 16px" nbButton status="primary" (click)="handleUpdateTodo(updateTodo)"
                (click)="ref.close()">Submit</button>
            <button nbButton (click)="ref.close()">close</button>
        </nb-card-footer>
    </nb-card>
</ng-template> -->