<div>

    <button nbButton status="{{show ?'danger': 'primary'  }}" (click)="show = !show">{{show ? 'CLOSE' : 'ADD'}}</button>
    <div *ngIf="show">
        <app-todo-item-addition></app-todo-item-addition>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="row">Step list</th>
                <th scope="row">Step list</th>
                <th scope="row">Step list</th>
                <th scope="row">Step list</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let todo of todos; let i = index;">
                <th scope="row">{{i}}</th>
                <app-todo-item [todo]="todo"></app-todo-item>
                <th> <button nbButton status="danger" (click)="open(dialog)">Remove</button></th>
                <ng-template #dialog let-data let-ref="dialogRef">
                    <nb-card>
                        <nb-card-header>Warning</nb-card-header>
                        <nb-card-body>
                            Do you want delete?
                        </nb-card-body>
                        <nb-card-footer>

                            <button nbButton (click)="ref.close()">close</button>
                            <button style="margin:0 0 0 16px" nbButton status="danger" (click)="handleDelete(i)"
                                (click)="ref.close()">Delete</button>
                        </nb-card-footer>
                    </nb-card>
                </ng-template>
            </tr>
        </tbody>
    </table>

</div>